APP_NAME='AppStore Appmax App Integration'
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8080
APP_URL=http://127.0.0.1
APP_KEY=

# NGROK_URL= Leave it in blank if you want to use a dynamic URL assigned by ngrok during make install. If you want to use a static URL, set it up in your ngrok account and put it here (e.g. foo.ngrok-free.app).
# NGROK_AUTHTOKEN= get your token from https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN=
NGROK_URL=

MODULE_PATH=github.com/geovannegallinati/AppStore-Appmax-App-Integration

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=appmax_checkout
DB_USERNAME=appmax
DB_PASSWORD=secret

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=redis-secret

# APPMAX_AUTH_URL defaults to https://auth.appmax.com.br (sandbox: https://auth.sandboxappmax.com.br)
# APPMAX_API_URL defaults to https://api.appmax.com.br (sandbox: https://api.sandboxappmax.com.br)
# APPMAX_ADMIN_URL defaults to https://admin.appmax.com.br (sandbox: https://breakingcode.sandboxappmax.com.br)
APPMAX_AUTH_URL=https://auth.sandboxappmax.com.br
APPMAX_API_URL=https://api.sandboxappmax.com.br
APPMAX_ADMIN_URL=https://breakingcode.sandboxappmax.com.br

# Appmax's AppStore Credentials for your App Integration
APPMAX_CLIENT_ID=
APPMAX_CLIENT_SECRET=
APPMAX_APP_ID_UUID=
APPMAX_APP_ID_NUMERIC=
